@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;600;700&display=swap");

*{
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'JetBrains Mono', regular;

}

body {
    background-color: #1a1b26;
    background: linear-gradient(to right, #0d113b, #0d0d2e);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.welcome-container {
    background-color: #1a1b26;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(167, 166, 166, 0.35);
    position: relative;
    overflow: hidden;
    width: 800px;
    max-width: 100%;
    min-height: 680px;
    display: flex;
    align-content: center;
    flex-direction: column;
}

.welcome-container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.welcome-container a{
    color: #bbb;
}