{% extends "index.html" %}
{% load static %}

{% block title %}Create Account{% endblock %}

{% block content %}
<div class="box">
    <div>
        <h1>Create Account</h1>
    </div>
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {{ form.as_p }}
        <button type="submit">Create Account</button>
    </form>
    <div>
        Already have an account? <a href="{% url 'accounts:login' %}">Sign In</a>
    </div>
</div>
{% endblock %}
