{% extends "index.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="layout">
    <div class="chat">
        <div class="chat-header">
            <h3>Chats</h3>
            <button class="btn-new-chat">+</button>
        </div>
        <input type="text" class="chat-search" placeholder="Search...">
    </div>
</div>
{% else %}

<div class="box">
    <h1>Welcome to Talko</h1>
    <h2>About Talko</h2>
    <p>Talko is a simple and fast messaging app built for effortless communication. We focus on clean design, real-time
        messaging, and a smooth user experience without unnecessary complexity.
        Our goal is to make chatting easy,
        reliable, and accessible for everyone. Talko keeps things minimal so you can
        focus on what matters — your conversations.</p>

    <ul class="features">
        <li>Real-time messaging</li>
        <li>Minimal, intuitive UI</li>
        <li>Lightweight and fast</li>
    </ul>

    <div class="auth-actions">
        <a href="/accounts/login" class="btn btn-primary">Sign In</a>
        <a href="/accounts/register" class="btn btn-secondary">Sign Up</a>
    </div>
</div>
{% endif %}
{% endblock %}
