{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_style %}{% endblock %}
    <title>{% block title %}Talko{% endblock %}</title>
</head>

<body>
    <header>
        <nav>
            <ul class="head-list">
                <li><a href="/" class="head-item">Home</a></li>
                {% if user.is_authenticated %}
                    <li><span class="username">{{ user.username }}</span></li>
                    <li>
                        <form method="post" class="sign-out" action="{% url 'accounts:logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="sign-out">Logout</button>
                        </form>
                    </li>
                {% else %}
                    <li><a href="{% url 'accounts:login' %}" class="sign-in">Sign In</a></li>
                    <li><a href="{% url 'accounts:register' %}" class="sign-up">Sign Up</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    
    {% if user.is_authenticated %} 
        <p>Ha</p>
    
    {% else %} 
    
    <p class="box-text">You are not authenticated</p>

    {% endif %}
    


    {% block content %}{% endblock %}
</body>

</html>
